Audio/** linguist-vendored
Images/** linguist-vendored
Import/** linguist-vendored
Materials/** linguist-vendored
Plugins/** linguist-vendored
Prefabs/** linguist-vendored
Samples/** linguist-vendored
Scenes/** linguist-vendored
TextMeshPro/** linguist-vendored
XR/** linguist-vendored
